extends ./layout
block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article in articles
          li.notes__list-item
            time.notes__item-time(datetime='2019-03-21T20:33') #{format(article.createdDate, 'dd.MM.yyyy, HH:MM')}
            a.notes__item-text(href='#') #{article.fullText}
            button.notes__button.button.button--close-item(
              type='button'
            )
              span.visually-hidden Закрыть строку списка
