extends ../layout
block content
  .wrapper.wrapper--nobackground
    include ../partials/header
    main.main-page.main-page--padding
      section.main-page__notes.notes
        h1.notes__title Мои записи
        ul.notes__list
          li.notes__list-item
            time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
            a.notes__item-text(href='#') Huawei открыла в России предзаказ на смартфон Mate 30 Pro без сервисов Google
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
          li.notes__list-item
            time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
            a.notes__item-text(href='#') Facebook разрешит пользователям копировать фотографии из соцсети в «Google Фото»
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
          li.notes__list-item
            time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
            a.notes__item-text(href='#') Huawei открыла в России предзаказ на смартфон Mate 30 Pro без сервисов Google
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
          li.notes__list-item
            time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
            a.notes__item-text(href='#') Facebook разрешит пользователям копировать фотографии из соцсети в «Google Фото»
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
          li.notes__list-item.notes__list-item--last
            time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
            a.notes__item-text(href='#') Facebook разрешит пользователям копировать фотографии из соцсети в «Google Фото»
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
    include ../partials/footer
